body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: #A1FFCE;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(left, #FAFFD1, #A1FFCE);
	background: -o-linear-gradient(left, #FAFFD1, #A1FFCE);
	background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

